if members.length === 0
    | No hay miembros
else
    | Miembros en #{ensembleName}:
    |
    each val, index in members
      | #{index + 1}. #{val.user.firstName} #{val.user.lastName} Details: /membership_#{val.id}
      |