if members.length === 0
  | No hay miembros aún.
else
  | Miembros en #{ensembleName}:
  |
  |
  each val, index in members
    - 
      let fullName = val.user.firstName
      if (val.user.lastName) fullName += ` ${val.user.lastName}`
    | #{index + 1}. 
    if val.user.username
      a(href=`https://t.me/${val.user.username}`) #{fullName}
    else
      | #{fullName}
    | . Detalles: /membership_#{val.id}
    |
