if members.length === 0
    | No hay miembros
else
    | Miembros en #{ensembleName}:
    |
    |
    each val, index in members
      | #{index + 1}. 
      a(href=`tg://${val.user.username}`) #{val.user.firstName} #{val.user.lastName}
      |  Detalles: /membership_#{val.id}
      |