if assignations.length === 0
    | No hay miembros asignados al evento
else
    | Miembros asignados:
    |
    |
    each val, index in assignations
      | #{index + 1}. 
      if val.user.username
        a(href=`https://t.me/${val.user.username}`) #{val.user.firstName} #{val.user.lastName} #{val.attendance === "YES" ? "✅" : val.attendance === "NO" ? "❌" : ""}
      else
        | #{val.user.firstName} #{val.user.lastName} #{val.attendance === "YES" ? "✅" : val.attendance === "NO" ? "❌" : ""}
      |
