if assignations.length === 0
  | No hay miembros asignados al evento
else
  | Miembros asignados:
  |
  |
  each val, index in assignations
    - 
      let fullName = val.user.firstName
      if (val.user.lastName) fullName += ` ${val.user.lastName}`
    | #{index + 1}. 
    if val.user.username
      a(href=`https://t.me/${val.user.username}`) #{fullName}
    else
      | #{fullName}
    | #{val.attendance === "YES" ? " ✅" : val.attendance === "NO" ? " ❌" : ""}
    if val.attendanceJustification
      |  Motivo: #{val.attendanceJustification}
    |
    |
